.Sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  position: relative;
  background-color: var(--inverted-bg-color);
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav_items {
  margin: 20px 0 0 30px;
  display: flex;
  flex-direction: column;
}

.nav_item {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .link {
    width: 0;
    opacity: 0;
    transition: 0.2s opacity;
  }
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}
