.app_green_theme {
  --bg-color: #f4fbf5;
  --inverted-bg-color: #022a05;
  --primary-color: #030500;
  --secondary-color: #049604;
  --inverted-primary-color: #dbd5dc;
  --inverted-secondary-color: #f4fbf5;
}
